<nav class = "navbar navbar-expand-lg bg-body-tertiary">
  <div class = "container-fluid">
    <a class = "navbar-brand" href="<%= root_path %>">Cinema</a>
    <button class = "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class = "navbar-toggler-icon"></span>
    </button>
    <div class = "collapse navbar-collapse" id="navbarSupportedContent">
      <ul class = "navbar-nav me-auto mb-2 mb-lg-0">

          <% if !logged_in? %>
              <li class = "nav-item">
              <a class = "nav-link" aria-current="page" href="<%= login_path %>">Login <i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            <li class = "nav-item">
              <a class = "nav-link" href="<%= new_user_path %>">Sign up <i class="fa-regular fa-user-plus"></i></a>
            </li>
          <% else %>
            <li class = "nav-item">
              <div class = "logout-div"><%= button_to "log out ",logout_path,class:"logout-btn",method: :delete %><i class="fa-solid fa-right-from-bracket"></i></div>
            </li>

             <li class = "nav-item">
              <%= link_to "Profile[#{current_user.username.upcase}]",user_path(current_user),class:"btn" %>
            </li>
             <% if @redirect_to_page_id %>
                <div class = "action-dropdown">

                    <li><a class = "nav-item" href="<%= new_bucket_path %>">Create Bucket</a></li>

                    <li><hr class =  "dropdown-divider"></li>
                    <li><a class = "nav-item" href="<%= edit_user_path %>">Settings</a></li>
                </div>

             <% end %>
         <% end %>
          <% unless @redirect_to_page_id %>
              <% if current_user && current_bucket %>
                <li class = "nav-item">
                <%= link_to "Bucket[#{current_bucket.title}]",bucket_path(current_bucket),class:"btn" %>
                </li>
              <% end %>
            <% end %>

      </ul>

    </div>
  </div>
</nav>
